* {
  box-sizing: border-box;
}

html {
  font-family: $font-main;
  font-size: $font-size;
  background-image: url(../img/фон.jpg);
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

.fa-angle-left,
.fa-angle-right {
  color: rgba($color-light, 0.4);

  font-size: 30px;
}

.fa-play-circle,
.fa-pause-circle {
  color: rgba($color-light, 0.4);

  font-size: 20vh;
}
